<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarCrafters - Mastering Auto Care</title>
    <!--Link To Css-->
    <link rel="stylesheet" href="/style1.css">
    <link rel="shortcut icon" href="/img/favicon-32x32.png" type="image/x-icon">
    <!--Box Icons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!--Navbar-->
    <header>
    <div class="nav container">
        <i class='bx bx-menu' id="menu-icon"></i>
        <a href="#" class="logo">Car<span>Crafters</span></a>
        <ul class="navbar">
            <li><a href="#home" class="active">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services" target="_blank" rel="">Services</a></li>
            <li>
                <!-- Check if user is logged in -->
                <% if (user) { %>
                    <i class="fa-solid fa-user"></i>
                    <a href="/<%= user.name %>">
                        <%= user.name %>
                    </a>
                    <a href="/logout" class="logout-link">Logout</a> <!-- Add logout link -->
                <% } else { %>
                    <a href="/login">Login</a>
                <% } %>
            </li>
        </ul>
        <i class='bx bx-search' id="search-icon"></i>
        <div class="search-box container">
            <input type="search" name="" id="" placeholder="Search here...">
        </div>
    </div>
</header>


    <!--Home section-->
    <section class="home" id="home">
        <div class="home-text">
            <h1>We have Everthing <br> your <span>car</span> Need</h1>
            <p>Get ready to hit the road with confidence! <br> Our expert services ensure your vehicle runs smoothly and safely.</p>
            <!--home Button-->
            <a href="/services" class="btn">Discover Now</a>
        </div>

    </section>
    <!--cars section-->
    <section class="cars" id="cars">
        <div class="heading">
            <span>Quality Services</span>
            <h2>We are Committed to Quality</h2>
            <p>Car Crafters takes your car <br>Services and repair seriously and goes the extra mile to deliver the best quality</p>
        </div>
        <!--Cars container-->
        <div class="carsss">
            <div class="imggg">
                <img src="/img/r2.jpg" alt="">
            </div>
                <div class="qualities">
                    <div class="qqq">
                        <h4>Quality</h4>
                        <p>at every stage of the process</p>
                    </div>
                    <div class="qqq">
                        <h4>Genuine Spares</h4>
                        <p>quality parts for all brands</p>
                    </div>
                    <div class="qqq">
                        <h4>Attention</h4>
                        <p>to the minutest details for accuracy</p>
                    </div>
                    <div class="qqq">
                        <h4>Toyota Genuine</h4>
                        <p>directly from the Toyota warehouse</p>
                    </div>
                </div>
        </div>

    </section>

    <!--About-->
    <section>
        <section class="about container" id="about">
            <div class="about-img">
                <img src="/img/r1.jpg" alt="">
            </div>
            <div class="about-text">
                <span>About Us</span>
                <h2>Cheap Prices With <br> Quality Services</h2>
                <p>Get ready to hit the road with confidence! <br> Our expert services ensure your vehicle runs smoothly and safely.</p>
                <!--About Button-->
                <a href="/about" class="btn">Learn More</a>
            </div>
        </section>
    </section>
    <!--parts section-->
    <section class="parts" id="parts">
        <div class="heading">
            <span>What We Offer</span>
            <h2>Our Service is Always Excellent</h2>
            <p>Get ready to hit the road with confidence! <br> Our expert services ensure your vehicle runs smoothly and safely.</p>
        </div>
        <!--parts container-->
        <div class="parts-container container">
            <!--Box 1-->

            <div class="box">
                <img src="/img/part1.png" alt="">
                <h3>Auto Spare Parts</h3>
                <span>$130.99</span>
                <i class='bx bxs-star'>(6 Reviews)</i>
                <a href="/appointment" class="btn">Buy Now</a>
            </div>

            <!--Box 2-->

            <div class="box">
                <img src="/img/part2.png" alt="">
                <h3>Auto Spare Parts</h3>
                <span>$260.99</span>
                <i class='bx bxs-star'>(6 Reviews)</i>
                <a href= "/appointment"class="btn">Buy Now</a>
            </div>

            <!--Box 3-->

            <div class="box">
                <img src="/img/part3.png" alt="">
                <h3>Auto Spare Parts</h3>
                <span>$120.99</span>
                <i class='bx bxs-star'>(6 Reviews)</i>
                <a href="/appointment" class="btn">Buy Now</a>
            </div>

            <!--Box 4-->

            <div class="box">
                <img src="/img/part4.png" alt="">
                <h3>Auto Spare Parts</h3>
                <span>$690.99</span>
                <i class='bx bxs-star'>(6 Reviews)</i>
                <a href="/appointment" class="btn">Buy Now</a>
            </div>

            <!--Box 5-->

            <div class="box">
                <img src="/img/part5.png" alt="">
                <h3>Auto Spare Parts</h3>
                <span>$820.99</span>
                <i class='bx bxs-star'>(6 Reviews)</i>
                <a href="/appointment" class="btn">Buy Now</a>
            </div>

            <!--Box 6-->

            <div class="box">
                <img src="/img/part6.png" alt="">
                <h3>Auto Spare Parts</h3>
                <span>$999.99</span>
                <i class='bx bxs-star'>(6 Reviews)</i>
                <a href="/appointment" class="btn">Buy Now</a>
            </div>
        </div>
    </section>
    <!--Blog Container-->
    <section class="blog" id="blog">
        <div class="heading">
            <span>Blog & News</span>
            <h2>Our Blog Content</h2>
            <p>Get ready to hit the road with confidence! <br> Our expert services ensure your vehicle runs smoothly and safely.</p>
        </div>
        <!--Blog Container-->
        <div class="blog-container container">
            <!--Box 1-->
            <div class="box">
                <img src="/img/car1.jpg" alt="">
                <span>August 21 2022</span>
                <h3>How To Get Perfect Services At Low Price</h3>
                <p>Get ready to hit the road with confidence! <br> Our expert services ensure your vehicle runs smoothly and safely.</p>
                <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt'></i> </a>
            </div>

            <!--Box 2-->
            <div class="box">
                <img src="/img/car8.jpg" alt="">
                <span>August 21 2022</span>
                <h3>How To Get Perfect Services At Low Price</h3>
                <p>Get ready to hit the road with confidence! <br> Our expert services ensure your vehicle runs smoothly and safely.</p>
                <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt'></i> </a>
            </div>

            <!--Box 3-->
            <div class="box">
                <img src="/img/car3.jpg" alt="">
                <span>August 21 2022</span>
                <h3>How To Get Perfect Car At Low Price</h3>
                <p>Get ready to hit the road with confidence! <br> Our expert services ensure your vehicle runs smoothly and safely.</p>
                <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt'></i> </a>
            </div>
        </div>
    </section>
    <!--footer-->
    <section class="footer">
        <div class="footer-container container">
            <div class="footer-box">
                <a href="#" class="logo">Car<span>Sales</span></a>
                <div class="social">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                    <a href="#"><i class='bx bxl-youtube'></i></a>
                </div>
            </div>
            <div class="footer-box">
                <h3>Page</h3>
                <a href="#">Home</a>
                <a href="#">Cars</a>
                <a href="#">Parts</a>
                <a href="#">Sales</a>
            </div>

            <div class="footer-box">
                <h3>Legal</h3>
                <a href="#">Privacy</a>
                <a href="#">Refund Policy</a>
                <a href="#">Cookies Policy</a>
            </div>

            <div class="footer-box">
                <h3>Contact</h3>
                <p>United States</p>
                <p>Canada</p>
                <p> Jaban</p>
                <p>Germany</p>
            </div>
        </div>
    </section>

    <!--Copyright-->
    <div class="copyright">
        <p>&#169; Piyush Prajapati All Right Reserved</p>
    </div>

    <!--Link To JS-->
    <script>
        let search = document.querySelector('.search-box');

        document.querySelector('#search-icon').onclick = () => {
            search.classList.toggle('active');
            menu.classList.remove('active');
        }

        let menu = document.querySelector('.navbar');

        document.querySelector('#menu-icon').onclick = () => {
            menu.classList.toggle('active');
            search.classList.remove('active');
        }

        // Hide Menu And Search Box On Scroll
        window.onscroll = () => {
            menu.classList.remove('active');
            search.classList.remove('active');

        }
        //header
        let header = document.querySelector('header');


        window.addEventListener('scroll', () => {
            header.classList.toggle('shadow', window.scrollY > 0);

        });
    </script>

</body>

</html>