<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="/services.css">
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <section class="product-section" class="section-p1">
        <h1>Featured Car Services</h1>
        <p>Provide Quality and Refinement Services</p>
        <div class="pro-collection">
            <div class="product-cart">
                <img src="/img/p1.jpg" alt="product image" />
                <h4>Air Filter</h4>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4 class="price">$120</h4>
                <a href="/appointment"><i class="fa-solid fa-arrow-right buy-icon"></i></a>
            </div>
            <div class="product-cart">
                <img src="/img/p2.jpeg" alt="product image" />
                <h4>Spark Plugs</h4>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4 class="price">$170</h4>
                <a href="appointment"><i class="fa-solid fa-arrow-right buy-icon"></i></a>
            </div>
            <div class="product-cart">
                <img src="/img/p3.jpeg" alt="product image" />
                <h4>Full Car Service</h4>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4 class="price">$999</h4>
                <a href="/appointment"><i class="fa-solid fa-arrow-right buy-icon"></i></a>
            </div>
            <div class="product-cart">
                <img src="/img/p4.jpg" alt="product image" />
                <h4>Automatic Car Washing</h4>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4 class="price">$190</h4>
                <a href="/appointment"><i class="fa-solid fa-arrow-right buy-icon"></i></a>
            </div>
            <div class="product-cart">
                <img src="/img/p5.png" alt="product image" />
                <h4>Tire Rotation</h4>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4 class="price">$199</h4>
                <a href="/appointment"><i class="fa-solid fa-arrow-right buy-icon"></i></a>
            </div>
            <div class="product-cart">
                <img src="/img/p6.jpeg" alt="product image" />
                <h4>Extensive Brake Inspection</h4>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4 class="price">$250</h4>
                <a href="/appointment"><i class="fa-solid fa-arrow-right buy-icon"></i></a>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="footer-container container">
            <div class="footer-box">
                <a href="#" class="logo">Car<span>Crafters</span></a>
                <div class="social">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                    <a href="#"><i class='bx bxl-youtube'></i></a>
                </div>
            </div>
            <div class="footer-box">
                <h3>Page</h3>
                <a href="#">Home</a>
                <a href="#">Cars</a>
                <a href="#">Parts</a>
                <a href="#">Sales</a>
            </div>

            <div class="footer-box">
                <h3>Legal</h3>
                <a href="#">Privacy</a>
                <a href="#">Refund Policy</a>
                <a href="#">Cookies Policy</a>
            </div>

            <div class="footer-box">
                <h3>Contact</h3>
                <p>United States</p>
                <p>Canada</p>
                <p> Jaban</p>
                <p>Germany</p>
            </div>
        </div>
    </section>
</body>

</html>